/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: $br;

    @media #{$brk-tablet} {
      padding: 10px 30px;
    }
  }
  
  .default {
        background-color: $greenish-bleu;

      &:hover {
        background-color: lighten($greenish-bleu, 25%);
        @include hover;
    }
  }
  
  .error {
        background-color: $error-btn;

    &:hover {
        background-color: lighten($error-btn, 25%);
        @include hover;
    }
  }
  
  .info {
        background-color: $purple;

    &:hover {
        background-color: lighten($purple, 25%);
        @include hover;
    }
  }
  
  .success {
    background-color: $success-btn;

    &:hover {
        background-color: lighten($success-btn, 25%);
        @include hover;
    }
  }
  
  .warning {
        background-color: $warning-btn;

    &:hover {
        background-color: lighten($warning-btn, 25%);
        @include hover;
    }

  }